<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="ReportName"  value="LogInRegTest01"></parameter>
  <parameter name="browserName" value="Chrome"></parameter>
  <parameter name="BroName" value="Chrome"></parameter>
  <parameter name="Nm" value="RegTest01"></parameter>
    <classes>
      <class name="test.TestRegistrationPage"/>
      <class name="test.TestLogInRegisteredUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
